

/*   --Globals--*/

*{
	margin:0;
	padding:0;
}

@-webkit-keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}



#paraBG {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: absolute;
	top: 0px;
	z-index: -99;
	background-color: ghostwhite;
}

#paraImg{
	height: 150vh;
	width: 200vw;
	background-color: transparent;
	background-image: url(../imgs/mwLogo.svg);
	background-repeat: no-repeat;
	background-position-x: -75vw;
	background-position-y: 55vh;

}

#slideHome{
	background-color: transparent;
}
#slideContact {
	background-color: transparent;
}

#slidePortfolio {
	background-color: transparent;
}

#heroImg{


	-webkit-animation-delay: .7s;
	-moz-animation-delay: .7s;
}

#modwrkbanner {
	position: absolute;
	margin-top: 7rem;
}


.backWhite{
	background-color: rgba(255,255,255, .7);
}

.homeSection {
	height: 50vh;
	background-color: transparent;
}

.smallHide {
	background-color: transparent;
	margin-top: 2rem;
	z-index:1;
}

@media screen and (max-width: 993px) {
	.smallHide {
		display: none;
	}
}

@media screen and (min-width: 992px) {
	.bigHide {
		display: none;
	}
}

.hide {
	display: none !important;
}

#verticalScroll {
	height: 70vh;
	overflow: auto;
}


