

/*   --Globals--*/

*{
	margin:0;
	padding:0;
}

body{
	font-family:sans-serif;
}

section {
	height: 100vh;
}

#slideHome{
	background-color: rgba(45,91,140,1);
	height: 100vh;
}
#slideContact {
	background-color: rgba(227,239,205,1);
	height: 100vh;
}

#slidePortfolio {
	background-color: rgba(239,58,52,1);
	height: 100vh;
}



