body {
	font-family: sans-serif;
}

.sectionFirst {
	padding-bottom: 10%;
}

.sectionSecond{
	margin-top: 5%;
}

.splitThird {
	width: 33.33%;
	float: left;
}

.splitHalf {
	width: 50%;
	float: left;
}

img.mobileImg {
	padding: 0 2em;
	width: 15%;
	display: inline-block;

}

img.desktopImg {
	width: 40%;
	padding: 2em;
	display: inline-block;
	border: 2px solid black;
	margin: auto;
}